<header>

    <div class="hero">
        <section class="layou">
            <div class="branding"><a href="/"><img src="/images/misc/parsclick.svg" alt="parsclick"></a></div>
        </section>
    </div>
    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>
                <li><a href="/speakers"><i class="fa fa-user"></i> Speaker</a></li>
            </ul>
        </section>
    </div>
</header>